<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1GEM01L467"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1GEM01L467');
</script>

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: no-repeat;
    background-color: #EBEBEB;
}

.topNav{
    display: flex;
    background-color: #982222;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a:hover{
    text-decoration: underline;
    color: white;
}

nav a.active{
    text-decoration: underline;
    color: white;
    padding: 10px;
}

.aboutphoto{
    position: absolute;
    width: 611px;
    height: 611px;
    left: 793px;
    top: 501px;
}

h1{
    position: absolute;
    width: 404px;
    height: 103px;
    left: 131px;
    top: 231px;
    font-size: 70px;
}

.aboutsummary{
    position: absolute;
    width: 591px;
    height: 298px;
    left: 133px;
    top: 391px;
    font-size: 20px;
}

h2{
    position: absolute;
    width: 370px;
    height: 103px;
    left: 131px;
    top: 778px;
    font-size: 70px;
}

.skillslist{
    position: absolute;
    width: 166px;
    height: 145px;
    left: 139px;
    top: 937px;
    font-size: 20px;
}

h3{
    position: absolute;
    width: 519px;
    height: 103px;
    left: 128px;
    top: 1155px;
    font-size: 70px;
}

.interestssummary{
    position: absolute;
    width: 593px;
    height: 116px;
    left: 133px;
    top: 1318px;
    font-size: 20px;
}

footer {
    position: absolute;
    width: 1512px;
    height: 280px;
    left: 0px;
    top: 1541px;
    width: 100%;
    background-color: #982222;
}

.contact{
    position: absolute;
    left: 42.2%;
    right: 42.13%;
    top: 25.71%;
    bottom: 59.29%;
    color: white;
    font-size: 35px;
}

.email{
    font-size: 20px;
    position: absolute;
    left: 42.06%;
    right: 42%;
    top: 50%;
    bottom: 41.43%;
    color: white;
}

.copyright{
    position: absolute;
    left: 45.04%;
    right: 44.97%;
    top: 67.86%;
    bottom: 23.57%;
    font-size: 20px;
    color: white;
}